.box {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 500px;
  webkit-perspective: 500px;
}
.box .compartment {
  position: relative;
  height: 100%;
}
.box .compartment .foreground {
  -ms-transform: translate(0);
  /* IE 9 */
  -webkit-transform: translate(0);
  /* Chrome, Safari, Opera */
  transform: translate(0);
}
.box .compartment .background {
  -ms-transform: translate(500px);
  /* IE 9 */
  -webkit-transform: translate(500px);
  /* Chrome, Safari, Opera */
  transform: translate(500px);
}
.box .compartment .topSide {
  height: 500px;
  width: 100%;
  transform-origin: top center;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.box .compartment .rightSide {
  position: absolute;
  top: 0;
  right: 0;
  width: boxZ;
  height: boxY;
  transform-origin: top right;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.box .compartment .bottomSide {
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 100%;
  transform-origin: bottom center;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.box .compartment .leftSide {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  transform-origin: top left;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
